.settingsgear {
    color: rgb(71, 162, 243);
    cursor: pointer;
}

.settingsgear:hover {
    color: rgb(51, 122, 200);
}

.ErtekelesTableheader
{
    text-align: center
}
.ErtekelesColumnErtekelo
{
    text-align: center
}
.ErtekelesColumnMuszak
{
    text-align: center
}

.ErtekelesTartalomPontokOszlop
{
    padding-left: 8px;
}