#<If "%{HTTP_HOST} == 'foodex.sch.bme.hu'">
#<If "%{REQUEST_URI} == '/'">
#DirectoryIndex /underconst.html
#</If>
#</If>

#php_flag session.cookie_httponly on

RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]